
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 class="section-title">Sobre mí</h2>
        <div class="section-title-divider"></div>
        <p class="section-description">
          ¡Hola! Soy Allan Bascur, un desarrollador web Full Stack apasionado
          por la creación de soluciones innovadoras y eficientes. Con 21 años de
          edad, cuento con experiencia en tecnologías tanto del frontend como
          del backend, lo que me permite crear aplicaciones web escalables y de
          alta calidad.
        </p>
        <p class="section-description">
          En mi trayectoria profesional, he trabajado con tecnologías como
          HTML5, CSS, JavaScript, TypeScript y Angular en el frontend, y con
          MongoDB, PostgreSQL, Node.js y Express en el backend. También he
          tenido la oportunidad de trabajar en proyectos colaborativos, lo que
          me ha permitido mejorar mis habilidades de trabajo en equipo y de
          comunicación.
        </p>
        <p class="section-description">
          Considero que el aprendizaje es un proceso constante en la vida, y por
          eso siempre busco seguir creciendo personal y profesionalmente. Me
          gusta mantenerme actualizado en las últimas tendencias y tecnologías
          del mercado, y estar al tanto de las necesidades de los usuarios y las
          empresas.
        </p>
      </div>
      <div class="col-md-6 col-sm-12"></div>
    </div>
  </div>
</section>
