<section id="projects" class="py-5">
  <br />
  <br />
  <div class="container">
    <div class="titulo" class="row text-center">
      <div class="col-md-12">
        <h2 class="section-title">Proyectos</h2>
        <div class="section-title-divider"></div>
      </div>
    </div>
    <br />
    <div class="row">
      
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/1028741/pexels-photo-1028741.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Proyecto 1"
            class="card-img-top"
          />
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <h5 class="card-title">Soft Sleeping</h5>
            <p class="card-text">
              Este proyecto fue uno de los primeros desafíos que enfrenté en mi
              carrera. Se trató de una página web enfocada en la regulación del
              sueño y el mejoramiento de tu día a día gracias a esto. Fue mi
              primera experiencia en el desarrollo de páginas web, utilizando
              únicamente las tecnologías básicas de HTML y CSS. Además, realicé
              la creación de mockups de la aplicación para asegurar una buena
              experiencia de usuario.
            </p>
            <a
              href="https://github.com/Baltyr/Soft_Sleeping-"
              target="_blank"
              class="btn btn-outline-dark"
            >
              <i class="fa fa-github"></i> Ir a GitHub
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Proyecto 2"
            class="card-img-top"
          />
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <h5 class="card-title">Synergym</h5>

            <p class="card-text">
              Este proyecto consistió en la creación de una página web para un
              gimnasio, la cual ofrece una variedad de características y
              servicios para sus usuarios. Además, se incluyó un sistema de
              login para que los usuarios registrados pudieran acceder a un menú
              especial con opciones personalizadas. El proyecto fue desarrollado
              como trabajo de defensa de título y se utilizó una combinación de
              tecnologías web como HTML, CSS, JavaScript y PHP para su
              implementación.
            </p>

            <a
              href="https://github.com/Baltyr/SinerGym"
              target="_blank"
              class="btn btn-outline-dark"
              ><i class="fa fa-github"></i> Ir a GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Proyecto 3"
            class="card-img-top"
          />
          <div
            class="card-body d-flex flex-column align-items-center justify-content-center"
          >
            <h5 class="card-title">Reale</h5>
            <p class="card-text">
              Este proyecto fue una experiencia clave en mi carrera, ya que tuve
              la oportunidad de formar parte de un equipo de desarrollo muy
              diverso y trabajar en un proyecto de gran envergadura para una
              importante compañía de seguros en Chile. Aprendí a utilizar
              tecnologías de vanguardia como Angular, Node.js, TypeScript y
              MongoDB, entre otras, lo que me permitió expandir mi conocimiento
              en el desarrollo de software.
            </p>
            <a
              href="https://www.reale.cl"
              target="_blank"
              class="btn btn-outline-dark"
            >
              Visitar la pagina</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
