
<section id="skills" class="py-5">
  <br />
  <br />
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="section-title">Habilidades</h2>
        <div class="section-title-divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <h3 class="card-title mb-3">Front-end</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">HTML5</li>
              <li class="list-group-item">CSS</li>
              <li class="list-group-item">JavaScript (ES6+)</li>
              <li class="list-group-item">Angular</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <h3 class="card-title mb-3">Back-end</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Node.js</li>
              <li class="list-group-item">Express</li>
              <li class="list-group-item">Ness</li>
              <li class="list-group-item">.ENV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <h3 class="card-title mb-3">Bases de datos</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">MySQL</li>
              <li class="list-group-item">PostgreSQL</li>
              <li class="list-group-item">MongoDB</li>
              <li class="list-group-item">Firebase</li>
              <li class="list-group-item">SQLite</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card border-0 shadow-lg">
          <div class="card-body">
            <h3 class="card-title mb-3">Herramientas</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Git</li>
              <li class="list-group-item">VS Code</li>
              <li class="list-group-item">Webpack</li>
              <li class="list-group-item">JIRA</li>
              <li class="list-group-item">Trello</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
