<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#home"><img src="assets/img/icono.png" /></a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse justify-content-end" [ngClass]="{ 'show': !isCollapsed }">

    <ul class="navbar-nav text-center">
      <li class="nav-item">
        <a class="nav-link" href="#home" [ngClass]="{ 'active': activeLink === 'home' }"
          (click)="setActiveLink('home')">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" [ngClass]="{ 'active': activeLink === 'about' }"
          (click)="setActiveLink('about')">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills" [ngClass]="{ 'active': activeLink === 'skills' }"
          (click)="setActiveLink('skills')">Habilidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects" [ngClass]="{ 'active': activeLink === 'projects' }"
          (click)="setActiveLink('projects')">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact" [ngClass]="{ 'active': activeLink === 'contact' }"
          (click)="setActiveLink('contact')">Contacto</a>
      </li>
    </ul>

  </div>
</nav>