<section id="home" class="py-5">
  <div class="container section-box">
    <div class="row align-items-center">
      <div class="col-md-6">
        <br>
        <h1 class="display-4 mb-4 text-center mb-md-5">¡Bienvenido a mi sitio web!</h1>
        <p class="lead mb-4">
          Soy un desarrollador web con experiencia en tecnologías front-end y
          back-end, y me apasiona crear soluciones web innovadoras y efectivas.
        </p>
        <a href="#contact" class="btn btn-primary btn-lg">Contáctame</a>
      </div>
      <div class="col-md-6">
        <img
          src="https://i.pinimg.com/564x/5d/73/f8/5d73f8a510650d988d68bdd59a87f3d4.jpg"
          alt="Foto de perfil"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
